body{
margin:0;
background:#000;
color:#d4af37;
font-family:Arial;
text-align:center;
}

.container{max-width:800px;margin:auto;padding:20px;}

h1{border-bottom:1px solid #d4af37;padding-bottom:10px;}

input,textarea{
width:90%;
padding:10px;
margin:6px;
background:#111;
color:#d4af37;
border:1px solid #d4af37;
}

button{
padding:8px 15px;
background:#111;
color:#d4af37;
border:1px solid #d4af37;
cursor:pointer;
}

button:hover{background:#d4af37;color:#000;}

.hidden{display:none;}

.player{
border:1px solid #d4af37;
padding:8px;
margin:5px;
display:flex;
justify-content:space-between;
}

#status{
position:fixed;
top:10px;
left:10px;
}
